*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#pantalla1 {
    height: 100vh;
    background-image: url(/img/pantalla-inicio.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-start {
    font-family: Helvetica;
    letter-spacing: 0.4em;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    color:#f00;
    outline-color: #0f0;
    cursor: pointer;
    outline: .2em solid;
    transition: all .3s cubic-bezier(0.8, 0, 0, 0.2);
  }
  .boton-start:hover {
    color: #0f0;
    outline-color: #f00;
    outline-offset: 35em;
    font-size: 5em;
    font-weight: 600;
  }



/* INICIO PANTALLA 2 */

#pantalla2 {
    height: 100vh;
    display: none;
    background-image: url(/img/arena.jpg);
    background-size: cover;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.cabecera{
    color: yellow;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: .5em;

}
.btn{
    width: 10em;
    height: 1em;
    font-family: Helvetica;
    letter-spacing: 0.2em;
    font-weight: bolder;
    font-size: 3em;
    text-align: center;
    color:#f00;
    outline-color: #0f0;
    cursor: pointer;
    outline: .05em solid;
    transition: all .3s cubic-bezier(0.8, 0, 0, 0.2);
}
.btn:hover {
    color: #0f0;
    outline-color: #0f0;
    outline-offset: .2em;
    font-weight: 600;
  }

.contenedor-players{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.player{
    cursor:none;
    width: 9em;
    height: 9em;
    margin: 3em 8em 0em 8em;
    border: 1em solid rgb(34, 235, 16);
    border-radius: 40%;
    box-shadow: 0px 0px 42px 34px rgba(0,0,0,0.79);
}
.player:hover{
    border-radius: 100%;
    box-shadow: 0px 0px 50px 34px rgb(165, 240, 122);
    transform: rotate(360deg);
    transition-duration: .5s;
    transition-delay: .1s;
}

.elegidos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.elegido{
    text-align: center;    
    color: yellow;
    font-size:x-large;
    cursor:none;
    width: 12em;
    height: 8em;
    margin: 4em 4em 0em 4em;
    border: .1em solid rgb(34, 235, 16);
    border-radius: 40%;
    box-shadow: 0px 0px 42px 34px rgba(0,0,0,0.79);
}
.versus{    
    width: 15em;
    height: 15em;
    margin-top: 3em;
}

/* INICIO PANTALLA 3 */

#pantalla3{
    min-height: 100vh;
    position: relative;
}
#video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 2;
    border: 1px solid yellow;
    color: yellow;
}
.cont-lados{
    width: 50%;
    height: 100vh;
}
.cont-barra{
    width: 100%;
    height: 10vh;
    background-color: #0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.barra-vida{
    width: 80%;
    height: 2em;
    background-color: #f00;
    border-radius: .5em;
}
.cont-stats{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    background-color: aqua;
}
.elegido3{
    width: 20em;
    height: 9em;
    border-radius: 3em;
    box-shadow: 0px 0px 32px 14px #ddd;

    background-color: blueviolet;
}
.cont-imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background-color: chartreuse;
}
.imagen-pag-tres{
    width: 25em;
    height: 25em;
    border-radius: 4em;
    box-shadow: 0px 0px 32px 14px #ddd;

    background-color: #f00;
}

.cont-boton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    background-color: chocolate;
}
.boton{
    margin:0em 1em 0em 1em;
    width: 4em;
    height: 3em;
    color: rgb(230, 230, 230);
    font-size: 2em;
    padding: .2em;
    text-align: center;
    align-items: center;
    text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
    border-radius: 1em;
    background: rgb(210, 20, 20);
    background: linear-gradient(0deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
    box-shadow: 7px 9px 5px rgba(239, 239, 239, 0.75);
}