*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#pantalla1 {
    height: 100vh;
    background-image: url(/img/pantalla-inicio.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-start {
    font-family: Helvetica;
    letter-spacing: 0.4em;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    color:#f00;
    outline-color: #0f0;
    cursor: pointer;
    outline: .2em solid;
    transition: all .3s cubic-bezier(0.8, 0, 0, 0.2);
  }
  .btn-start:hover {
    color: #0f0;
    outline-color: #f00;
    outline-offset: 35em;
    font-size: 5em;
    font-weight: 600;
  }





#pantalla2 {
    height: 100vh;
    display: none;
    background-image: url(/img/arena.jpg);
    background-size: cover;

}
.cabecera{
    color: yellow;
}

.contenedor-players{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    

}

img{
    cursor: crosshair;
    width: 10em;
    height: 10em;
    margin: 4em;
    border: 3px solid rgb(34, 235, 16);
    border-radius: 40%;
    box-shadow: 0px 0px 42px 34px rgba(0,0,0,0.79);
}
img:hover{

    width: 9.5em;
    height: 9.5em;
    border-radius: 100%;
    box-shadow: 0px 0px 50px 34px rgb(165, 240, 122);
    transform: rotate(360deg);
    transition-duration: .5s;

    transition-delay: .2s;
}
































#pantalla3 {
    height: 100vh;
    width: 100vw;
    background-color: blue;
    display: none;
}

#pantalla4 {
    height: 100vh;
    width: 100vw;
    background-color: yellow;
    display: none;
}

#pantalla5 {
    height: 100vh;
    width: 100vw;
    background-color: orange;
    display: none;
}


.logo {
    height: 15em;
    width: 27em;
} 