*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* INICIO PANTALLA 1 */
#pantalla1 {
    height: 100vh;
    background-image: url(/img/pantalla-inicio.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-start {
    font-family: Helvetica;
    letter-spacing: 0.4em;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    color:#f00;
    outline-color: #0f0;
    cursor: pointer;
    outline: .2em solid;
    transition: all .3s cubic-bezier(0.8, 0, 0, 0.2);
}
  .boton-start:hover {
    color: #0f0;
    outline-color: #f00;
    outline-offset: 35em;
    font-size: 5em;
    font-weight: 600;
}

/* INICIO PANTALLA 2 */
#pantalla2 {
    height: 100vh;
    width: 100vw;
    display: none;
    background-image: url(/img/arena.jpg);
    background-size: cover;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.cabecera{
    color: yellow;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: .5em;
}
.btn{
    min-width: 7em;
    height: 1em;
    font-family: Helvetica;
    letter-spacing: 0.2em;
    font-weight: bolder;
    font-size: 1em;
    text-align: center;
    color:#f00;
    outline-color: #0f0;
    cursor: pointer;
    outline: .05em solid;
    transition: all .3s cubic-bezier(0.8, 0, 0, 0.2);
}
.btn:hover {
    color: #0f0;
    outline-color: #0f0;
    outline-offset: .2em;
    font-weight: 600;
  }
.contenedor-players{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.player{
    margin-top: 1em;
    cursor:none;
    min-width: 9em;
    height: 7em;
    margin: 1em 4em 0em 4em;
    border: 1em dashed rgb(116, 26, 4);
    border-radius: 40%;
    box-shadow: 0px 0px 42px 34px rgba(0,0,0,0.79);
}
.player:hover{
    border-radius: 100%;
    box-shadow: 0px 0px 50px 34px rgb(165, 240, 122);
    transform: rotate(360deg);
    transition-duration: .5s;
    transition-delay: .1s;
}
.elegidos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.elegido{
    text-align: center;    
    color: yellow;
    font-size:large;
    cursor:none;
    min-width: 15em;
    height: 8em;
    margin: 4em 4em 0em 4em;
    border: .1em solid rgb(65, 148, 57);
    border-radius: 40%;
    box-shadow: 0px 0px 42px 34px rgba(0,0,0,0.79);
}
.versus{    
    width: 8em;
    height: 7em;
    margin-top: 3em;
}

/* INICIO PANTALLA 3 */

#pantalla3{
    min-height: 100vh;
    position: relative;
}
#video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 2;
}
.cont-lados{
    width: 45%;
    height: 100vh;
}
.cont-barra{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f00;

}
.barra-vida{
    width: 90%;
    height: 2em;
    background-color: #0f0;
    box-shadow: 7px 9px 5px rgba(239, 239, 239, 0.75);
    border-radius: .5em;
    margin-bottom: 2em;
}
.cont-stats{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
}
.elegido3{
    min-width: 15em;
    height: 8em;
    border-radius: 2em;
    box-shadow: 0px 0px 32px 14px yellow;
    color: yellow;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont-imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45vh;
}
.imagenPagTres{
    margin-top: 3em;
    width: 25em;
    height: 20em;
    border-radius: 4em;
    box-shadow: 0px 0px 32px 14px #000;    
}

.cont-boton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
}
.boton{
    margin:0em 1em 0em 1em;    
    box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #252424 5%, #630e08 100%);
	background-color:#c62d1f;
	border-radius:1.5em;
	border:1px solid #d02718;
	cursor:pointer;
	color:#ffffff;
	font-size:2em;
	padding:.2em;
	text-shadow:5px 5px 2px #810e05;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;

}
.boton:active {
	position:relative;
	top:1px;
    box-shadow: 7px 9px 5px rgba(239, 239, 239, 0.75);
    color: rgb(219, 233, 25);
}
/* INICIO PANTALLA 4 */
#pantalla4{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #222;
}
.superior{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f0;
}
.inferior{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: tomato;
}
.inferiorIzq{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}
.imagenGanador{
    width: 25em;
    height: 25em;
    background-color: blueviolet;
}
.inferiorDer{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}
.datosGanador{
    width: 25em;
    height: 25em;
    background-color: blueviolet;
}